<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JSLint</string>
	<key>uuid</key>
	<string>1DAB553B-1E9D-4B1F-AD07-310BA58DC208</string>
</dict>
</plist>
